<%=  link_to t('action.back'), users_path %>
<br /><br />

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('action.edit')  %> <%= t('user.user')%>   
  </div>
  <div class="panel-body">
    <%= form_for(@user, :html => { :class => 'form-horizontal ' }) do |f| %>
      <% if @user.errors.any? %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- <p><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p> -->

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
 
        <% end %>

      <div class="control-group">
        <label><%= t('user.username') %></label>
        <div class="controls">      
          <%= f.text_field :name%><span class="text-error">*</span>
        </div>
      </div>

 

      <div class="control-group">
        <label><%= t('user.phone') %></label>
        <div class="controls">
          <%= f.telephone_field :phone_number %><span class="text-error">*</span>
        </div>
      </div>

      <div class="control-group">
        <label><%= t('user.place') %></label>
        <div class="controls">           
          <%= select_place @user, "user[place_id]", "user_place_id" %>
          <%#= select("user","place_id", @select.collect {|p| [ p['label'], p['value'] ] }, {include_blank: 'Select Place'}, :class => 'input-xlarge') %>
          <span class="text-error">*</span>
        </div>
      </div>

      <div class="control-group">
        <label><%= t('user.can_login') %></label>
        <div class="controls">
          <%= t('user.can') %>&nbsp;<%= f.radio_button(:can_login, true) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= t('user.cannot') %>&nbsp;<%= f.radio_button(:can_login, false)%>
        </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <%= f.submit t('action.update'), :class => 'btn btn-primary' %>
         </div>
      </div>
    <% end %>

  </div>
</div>
