<% if params[:name].present? %>
  <%=  link_to t('action.back'), users_path %>
<% end %>
<br>
<br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('action.list_all_user')%> 
    </div>
    <div class="panel-body">
        
        <%#= flash["success"] %>
        <% if @users.any? %>
          <%= form_tag "/users", method: "get" do %>
            <div class="btn-group">
              <%= text_field_tag :name, nil, placeholder: "#{t('action.search')}" %>
              <%= submit_tag "Search", :class => 'btn hidden' %>
            </div>
          <% end %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('user.username')%></th>
                <th><%= t('user.phone')%></th>
                <th><%= t('user.location')%></th>
               <!--  <th>Type</th> -->
                <th><%= t('user.can_login')%></th>
                <th></th>
              </tr>
            </thead>

            <% @users.each_with_index do |user, i| %>
              <tr>
                <td><%= (@page.to_i*@per_page)-@per_page+i+1%></td>
                <td title="<%= user.name %>"><%= user.name %></td>
                <td title="<%= user.phone_number %>"><%= user.phone_number %></td>
                <td title="<%= user.place.name if !user.place.nil? %>"><%= user.place.name  if !user.place.nil? %></td>
                <td title="<%= user.can_login %>"><%= user.can_login %></td>
                <td>
                  
                  <%#= link_to t('action.edit'), edit_user_path(user) %> 
                  <%#= link_to t('action.delete'), user, method: :delete, data: { confirm: t('message.delete') } %>

                  <%= link_to(edit_user_path(user), :class => 'btn btn-small', :title => t('action.edit')) do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                  <%= link_to user, method: :delete,  data: { confirm: t('message.delete') }, :class => 'btn btn-small', :title => t('action.delete') do %>
                      <i class="icon-remove"></i>
                  <% end %>
                  
                </td>
              </tr>
            <% end %>
          </table>

        <% else %>         
          <p class="text-error">
            No any users found.
          </p>
        <% end %>
      <div class="span2"><%= link_to t('action.new_user'), new_user_url, :class => 'btn' %></div>  
      <div class="pagination pull-right">
          <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
      <br>
      <br><br>
      <br>
    </div>
  </div>
