<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('menu.change_password')%>
  </div>
  <div class="panel-body">
    <%= form_for(@user,{url: change_password_users_path, :html => { :class => 'form-horizontal' }}) do |f| %>
      <!-- <fieldset> -->
        <!-- <legend>Change Password</legend> -->
        <% if @user.errors.any? %>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- <p><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p> -->
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
        </div>    
      <% end %>

        <div class="control-group" >
          <label><%= t('user.old_password')%></label>
          <div class="controls">
            <%= f.password_field "old_password" %><span class="text-error">*</span>
          </div>
        </div> 

        <div class="control-group">
           <label><%= t('user.new_password')%></label>
          <div class="controls">
            <%= f.password_field :password %><span class="text-error">*</span>
          </div>  
        </div>

        <div class="control-group">
           <label><%= t('user.new_password_confirmation')%></label>
          <div class="controls">
            <%= f.password_field :password_confirmation %><span class="text-error">*</span>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%#= f.submit "Cancel", :type => "reset", :class => 'btn' %>
            <%= f.submit t('action.save'), :class => 'btn btn-primary' %>
          </div>
        </div>
       <!--  </fieldset> -->

    <% end %>


  </div>
</div>