<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>jQuery metisMenu Plugin Demos</title>

<style>
  .arrow {
    float: right;
  }
  .glyphicon.arrow:before {
    content: "\e079";
  }
  .active > a > .glyphicon.arrow:before {
    content: "\e114";
  }
  .fa.arrow:before {
    content: "\f104";
  }
  .active > a > .fa.arrow:before {
    content: "\f107";
  }
  .plus-times {
    float: right;
  }
  .fa.plus-times:before {
    content: "\f067";
  }
  .active > a > .fa.plus-times {
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .plus-minus {
    float: right;
  }
  .fa.plus-minus:before {
    content: "\f067";
  }
  .active > a > .fa.plus-minus:before {
    content: "\f068";
  }
</style>
</head>
<body>

<h1 style="margin-top:150px" align="center">jQuery metisMenu Plugin Demos</h1>
<div class="container">
<div class="row">
<div class="col-lg-3">
<h3>Auto Collapse</h3>
  <ul id="menu">
    <li class="active"> <a href="#">Menu 0 <span class="fa arrow"></span></a>
      <ul>
        <li><a href="#">item 0.1</a></li>
        <li><a href="#">item 0.2</a></li>
        <li><a href="http://onokumus.com">onokumus</a></li>
        <li><a href="#">item 0.4</a></li>
      </ul>
    </li>
    <li> <span class="icon-arrow-right"></span> <a href="#">Menu 1</a>
      <ul>
        <li><a href="#">item 1.1</a></li>
        <li><a href="#">item 1.2</a></li>
        <li> <a href="#">Menu 1.3 <span class="fa plus-times"></span></a>
          <ul>
            <li><a href="#">item 1.3.1</a></li>
            <li><a href="#">item 1.3.2</a></li>
            <li><a href="#">item 1.3.3</a></li>
            <li><a href="#">item 1.3.4</a></li>
          </ul>
        </li>
        <li><a href="#">item 1.4</a></li>
        <li> <a href="#">Menu 1.5 <span class="fa plus-minus"></span></a>
          <ul>
            <li><a href="#">item 1.5.1</a></li>
            <li><a href="#">item 1.5.2</a></li>
            <li><a href="#">item 1.5.3</a></li>
            <li><a href="#">item 1.5.4</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a href="#">Menu 2 <span class="glyphicon arrow"></span></a>
      <ul>
        <li><a href="#">item 2.1</a></li>
        <li><a href="#">item 2.2</a></li>
        <li><a href="#">item 2.3</a></li>
        <li><a href="#">item 2.4</a></li>
      </ul>
    </li>
  </ul>
</div>

<script>
    $(function () {

        $('#menu').metisMenu();

        $('#menu2').metisMenu({
            toggle: false
        });
    });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>