<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('action.edit')  %> <%= t('user.user')%>   
  </div>
  <div class="panel-body">
    <%= form_for(@user, :html => { :class => 'form-horizontal '}, :url => { :action => :update_current_user }) do |f| %>
      <% if @user.errors.any? %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- <p><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p> -->

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
 
        <% end %>

      <div class="control-group">
        <label><%= t('user.username') %></label>
        <div class="controls">      
          <%= f.text_field :name%><span class="text-error">*</span>
        </div>
      </div>

 

      <div class="control-group">
        <label><%= t('user.phone') %></label>
        <div class="controls">
          <%= f.telephone_field :phone_number %><span class="text-error">*</span>
        </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <%= f.submit t('action.update'), :class => 'btn btn-primary' %>
         </div>
      </div>
    <% end %>

  </div>
</div>

