<%= form_for([@place, @contact], :html => { :class => 'form-horizontal col-xs-6' }) do |f| %>
	<fieldset>
		<legend>Add new phone number</legend>

		<% if @contact.errors.any? %>
	    <div class="text-danger">
	      <p><%= pluralize(@contact.errors.count, "error") %> prohibited this user from being saved:</p>

	      <ul>
	      <% @contact.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	    <% end -%>

		<div class="form-group">
		    <%= f.label :telephone_number , :class => 'text-right col-sm-4 control-label' %>
		    <div class="col-sm-8">
		    	<%= f.text_field :telephone_number, :class => 'form-control' %>
		    </div>			
		</div>

		
		<div class="form-group">
		    <div class="col-sm-offset-9 col-sm-3">
		    	<%= f.submit "Create", :class => 'btn btn-default' %>
		    </div>
		</div>		
	</fieldset>
<% end %>