<div class="row">
	
	<div class="page-header">
		<h2><%= @place.name %></h2>
		<p>The report comes from any of the phones below</p>
		<%= link_to 'Add new phone number', new_place_contact_path(@place) %>
	</div>

</div>

<div class="row">
	<ul>
		<% @place.contacts.each do |c| %>
		<li>
			<%= c.telephone_number %>
			<%= link_to '-', place_contact_path(@place,c),
            :confirm => 'Are you sure, you want to delete?',
            :method => :delete,
            :class => 'btn btn-default' %>
		</li>
		<% end -%>
	</ul>
	<%= link_to 'Delete this HC', place_path(@place),
            :confirm => 'Are you sure, you want to delete?',
            :method => :delete,
            :class => 'btn btn-default' %>
</div>


