<div class="row">
	<div class="col-xs-3 text-left" >
		<input type="text" class="form-control" placeholder="Search">
	</div>
	<div class="col-xs-9 text-right" >
		<button type="button" class="btn btn-default">Add new OD</button>
		<button type="button" class="btn btn-default">Add new Health Center</button>
	</div>
</div>

<br>
<br>

<div class="row" >
	<ul>
		<% @place_types.each do |place_type| %>
		<li>
			<%= place_type.code %>
			<ul>
				<% place_type.places.each do |place| %>
				<li><%= place.name %><br/>
					<% place.children.each do |c| %>
						<%= c.name %><br/>
					<% end %>
				</li>
				<% end %>
			</ul>			
		</li>

		<% end %>
	</ul>
</div>

