// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  color:black;
}



#cssmenu > ul > li.has-sub > a span {

  background: url(/assets/ic_plus.png) no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  color:red;
  background: url(/assets/ic_minus.png) no-repeat;
}

#cssmenu > ul > li > a > span {
  display: block;
  padding-left:30px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}

#cssmenu ul ul {
  display: none;
  padding-left: 30px;
}

#cssmenu ul ul span{
  background: url(/assets/ic_down.png) no-repeat;
  padding-right:20px;
}

#btn_add_od, #btn_add_hc ,#btn_add_phd{
  display:none;
}

.accordion-heading, .accordion-group, .accordion-inner{
  border:none;
}

.accordion-inner{
  padding-left:50px;
}
a:hover{
  text-decoration:none;
}






  .icon-plus:before {
    content: "\002b";
  }
  
  .active > .list1 {
    color: red;
  }

  .active > .list1.a:after{
    color:yellow;
  }

  .active > .list2 {
    color: green;
  }

  .active > .list3 {
    color: blue;
  }
 
  .active > a > .icon-chevron-right:before {
    content: "\f078";
  }


  .active > .list2 > .icon-chevron-right:before {
    content: "\f078";
  }
 
  span{
    padding-left: 5px;
  }
  ul{
    list-style: none;
  }
  a[href="#"]{
    text-decoration: none;
    color: black;
  }

  #place_header, .contact{
    display:none;
  }
  #contact_list{
    margin: 0 0 10px 10px;
  }
  

  #message_error_telephone_number > ul{
    margin-left : 10px;
  }

  .btn_add_place .btn{
    margin-top:5px;
    margin-right:5px;
    float:left;
  }


  #contact_list{
    padding-left : 20px;
    list-style : circle;
  }