<%#= form_tag reports_path, :method => :get, :id => :report_form do %>

  <div  class="row-fluid">
    <div class="span3 btn_report">
      <%
          weekly_active = @report_by == "Weekly" ? "active" : ""
          monthly_active = @report_by == "Monthly" ? "active" : ""
          yearly_active = @report_by == "Yearly" ? "active" : ""
       %>
       <div class="btn-group">
          <button id="report_by_weekly" class="btn <%= weekly_active %>"><%= t('report.weekly') %></button>
          <button id="report_by_monthly" class="btn <%= monthly_active %>"><%= t('report.monthly') %></button>
          <button id="report_by_yearly" class="btn <%= yearly_active %>"><%= t('report.yearly') %></button>
       </div>
    </div>
    
    <div class="span2 offset1">
        <div class="btn-group">
          <button class="btn" id="previous_date_btn"><i class="icon-chevron-left"></i></button>
          <button class="btn" id="next_date_btn"><i class="icon-chevron-right"></i></button>
        </div>
    </div>

    <div class="span2 exportCSV pull-right">
      <%= link_to(t('report.export_as_csv'),export_csv_reports_path(:from => @from_date, :to => @to_date), :class => 'btn btn-info') %>     
    </div>
  </div>
<!--   <br>
  <div  class="row-fluid">
    <div class="span1">
      <button class="btn">Today</button>
    </div>
    <div class="span2">
        <div class="btn-group">
          <button class="btn" id="previous_date_btn"><i class="icon-chevron-left"></i></button>
          <button class="btn" id="next_date_btn"><i class="icon-chevron-right"></i></button>
        </div>
    </div>
  </div> -->
    <%= hidden_field_tag(:report_by, @report_by) %>
    <%= hidden_field_tag(:previous_view, @previous_view) %>
    <%= hidden_field_tag(:from, @from_date) %>
    <%= hidden_field_tag(:to, @to_date) %>

    <!-- <div class="span3"> -->
      <%# if @report_by == "Weekly" %>
        <!-- Week: <%#= @week_number %> -->
      <%# end %>
    <br>
    <div  class="row-fluid">
      <div id="start_date" class="span6">
        <% if @from_date.strftime("%Y") == @to_date.strftime("%Y") %>
            <% if @from_date.strftime("%b") == @to_date.strftime("%b") %>
                  <%= @from_date.strftime("%B %d") %> - <%= @to_date.strftime("%d, %Y") %>
            <% else %>
                  <%= @from_date.strftime("%B %d") %> - <%= @to_date.strftime("%B %d, %Y") %>
            <% end %>
        <% else %>
          <%= @from_date.strftime("%d %b, %Y") %> - <%= @to_date.strftime("%d %b, %Y") %>
        <% end %>         
      </div>


    </div>
  


<div class="row-fluid">
<table class="table table-hover" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th></th>
    <% @rows.first.each do |r| %>
      <th><%= r %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    
   
    <% n = @rows.size-1 %>
    <%  n.times.each do |i| %>
      <% if i < n-1 %>
        <% b = true %>
      <% end %>
      
        <% row = @rows[i+1] %>         
        <% row.each.with_index do |r,index| %>
          <% if b == true %>            
          <td>
              <label class="checkbox">
                  <% if index == 0 %>
                    <% if @places.include?(r) || @places.include?(r.to_s) %>
                      <input type="checkbox" class="places" name="places" checked value="<%= r %>">
                    <% else %>
                      <input type="checkbox" class="places" name="places" value="<%= r %>">
                    <% end %>
                  <% end -%>
              </label>                
            <% b = false %>              
          </td>
          <% else %>
            
            <td>
              <% if index == 1%>
                <% if i < n-1 %>
                  <% if @place_type == 'Od' %>
                    <%= link_to r, reports_hc_chart_path(:place_id => row[0], :start_date => @from_date, :end_date => @to_date, :locale => params[:locale]) %>
                  <% elsif @place_type == 'Phd' %>
                    <%= link_to r, reports_disease_chart_path(:place_id => row[0], :start_date => @from_date, :end_date => @to_date, :locale => params[:locale]) %>
                  <% else %>
                    <%= r %>
                  <% end -%>
                <% else %>
                  <%= r %>
                <% end -%>
              <% elsif index > 1 %>
                <%= r %>
              <% end -%>
            </td> 
          <% end -%>
        <% end -%>         
         
      </tr>
    <% end -%>      
  </tbody>
</table>
</div>
<%# end %>







