<div class="row-fluid">
	<%=  link_to t('action.back'), reports_path %>
	<br>
	<br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('report.disease_trend_comparison_by_hc')%>      
    </div>
    <div class="panel-body">
    	<div class="row-fluid">
    		<div class="span4">
				<%= form_tag reports_create_hc_chart_path, :method => :get do %>
					<!-- <div class="text-error"></div>
					<br> -->
					<label>&nbsp;</label>
					<%= select_tag(:diseases,  options_for_select(@diseases),:multiple => true, :prompt => t('select_diseases')) %>
					<ul>
						<% @places.each do |od| %>
							<li class="od" data-id="<%= od.id %>">
								<input type="checkbox" class="parent_places" name="parent_places" id="<%= od.id %>"  value="<%= od.id %>" data-id="<%= od.id %>">
								<a href="#"><%= od.name %></a>
							</li>
							<ul class="hc" id="sub<%= od.id %>">
							<% od.children.each do |hc| %>								
								<li>
									<input type="checkbox" class="disease_places" name="<%= od.id %>"  value="<%= hc.id %>">
									<%= hc.name %>
								</li>								
							<% end -%>
							</ul>
						<% end -%>					  	
					</ul>	
					

					<label><%= t('from')%><span class="text-error">*</span></label>
					<div class="input-append">
					  <input class="span6" id="start_date" type="text" name="start_date" value="<%= params[:start_date] %>" >
					  <button class="btn" type="button" id="btn_start_date"><i class="icon-calendar"></i></button>
					</div>
					<p id="start_date_error_msg" class="text-error"></p>

					
					<label><%= t('to')%><span class="text-error">*</span></label>
					<div class="input-append">
					  <input class="span6" id="end_date" type="text" name="end_date" value="<%= params[:end_date] %>" >
					  <button class="btn" type="button" id="btn_end_date"><i class="icon-calendar"></i></button>
					</div>	
					<p id="end_date_error_msg" class="text-error"></p>

					<input type="hidden" value="<%= params[:place_id] %>" id="place_id">
					<br>
					<div class="span2 offset3">
						<input type="button" value="<%= t('action.submit')%>" name="submit" class="btn btn-primary" id="btn_create_col_chart">
					</div>


				<% end -%>
    		</div>
    		<div class="span8">
    			<div id="disease_chart" style="width:100%; height:100%"></div>
    		</div>
    	</div>
    </div>
  </div>
</div>




<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	
	$(document).ready(function(){	

	
		$("#start_date").datepicker({
			format:'yyyy-mm-dd'
		});	
		
		$("#end_date").datepicker({format:'yyyy-mm-dd'});	
		// $("#end_date").datepicker();	

		$("#btn_start_date").on("click", function(){
			$("#start_date").datepicker('show');

		});

		$("#btn_end_date").on("click", function(){
			$("#end_date").datepicker('show');
		});

		$("#btn_create_col_chart").on("click", function(){			
			disease_chart_request();
		});
		tmp = $("#place_id").val();
		checked_sub(tmp, true);

		$('select#diseases').find('option').each(function() {
    		 $(this).attr('selected', true);
    	});

		$('.od').on("click", function(){
			id = $(this).attr('data-id');
			checked_sub(id);
		});


    	disease_chart_request();
	});

	function checked_sub(parent_list, parent_state){
		// alert(parent_list);
		$('#sub'+parent_list).slideDown();
		if ($('#'+parent_list).is(':checked') || parent_state == true){
			$('#'+parent_list).prop('checked', true);
			$('[name='+parent_list+']').prop('checked', true);
		}else{
			$('[name='+parent_list+']').prop('checked', false);
		}
	}

	function disease_chart_request(){

		diseases = $("#diseases").val();

		places = new Array();
		$(".disease_places:checked").each(function() {
	        places.push($(this).val());
	    });

		start_date = $("#start_date").val();
		end_date = $("#end_date").val();
		if(start_date == ''){
			$("#start_date_error_msg").html(t("required_field"));
			if(end_date == ''){
				$("#end_date_error_msg").html(t("required_field"));
			}		
			return	;
		}

		if(end_date == ''){
			$("#end_date_error_msg").html(t("required_field"));
			return;
		}
		
		$("#start_date_error_msg").empty();
		$("#end_date_error_msg").empty();
		

		$.ajax('/reports/create_disease_chart', {
			type: 'GET',
			data: { places: places, start_date: start_date, end_date: end_date, diseases: diseases },
			success: function(response) { 	
				console.log(response);	
				if(response == null)
					$('p.text-error').text(t("incorrect_date_range"));
				else{		
					$('p.text-error').empty();
					drawChart(response);
				}
			},
			error: function(error) { 
		    }
		});		
	}

	function drawChart(response) {    
	  	
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'Year');

	    arr_col = [] ;
	    index = 0;
	    b = true;
	    $.each(response, function(key,value) {
	    	for(var i in arr_col){
	    		// console.log(col);
	    		if(value['name'] == arr_col[i]){
	    			b = false;
	    			break;
	    		}else{        			
	    			b = true;
	    		}
	    	}

	    	if(b == true){
	    		
	    		arr_col[index] = value['name'];
	    		data.addColumn('number', value['name']);
	    		index++;
	    	}
	    	
	    });
	    console.log(data.getNumberOfColumns());
	   

	    tmp = [];
	    arr_row = [[]];
	    j = 0;
	    index = 1;
	    flag = false;
	    current_row = 0;
	    if (arr_col.length > 0){
	    	$.each(response, function(key,value) {
	    		d = new Date(value['created_at']);

	    		for(row=0; row< arr_row.length; row++){
	    			if(d.toString('d-MMM') == arr_row[row][0]){
	    				flag = true;
	    				current_row = row ;
	    				break;
	    			}else{
	    				flag = false;
	    			}
	    		}


	    		if(flag == false){ //not exist yet
	    			tmp[0] = d.toString('d-MMM');
	    			
	    		    for(i=0; i<data.getNumberOfColumns(); i++){
	    		    	if(value['name'] ==  data.getColumnLabel(i)){
	    		    		tmp[i] = parseInt(value['quantity']);
	    		    	}else{
	    		    		if(i > 0)
	    		    		tmp[i] = 0;
	    		    	}
	    		    }
	    		    // tmp[data.getNumberOfColumns()-1] = d.toString('d-MMM');
	    		    
	    		    arr_row[j] = tmp;
	    		    j ++;
	    		    tmp = [];

	    		}else{
	    			console.log('Equal');
	    			for(a=0; a<data.getNumberOfColumns(); a++){
	    				if(value['name'] ==  data.getColumnLabel(a)){
	    					// console.log("col "+value['name']);
	    					arr_row[current_row][a] = parseInt(value['quantity']);
	    					break;
	    				}
	    			}


	    		}
	    	});
			console.log(arr_row);
	        data.addRows(arr_row);
	        var options = {'title':'Diseases Trend Comparison by HC',
	        				'legend': {position: 'right', textStyle: {fontSize: 12}},
	                       'height':350,
	                   		vAxis: {
	        				    gridlines: {
	        				        color: 'black'						        
	        					    }
	        				}
			};

			// options.chartArea = {width: "50%", height: "70%" };
			options.chartArea = {left: 30,width: "70%"};

	        var chart = new google.visualization.ColumnChart(document.getElementById('disease_chart'));

	        chart.draw(data, options);
	    }else
	    	$('#disease_chart').html("<p class='text-info text-center'>No Data</p>");  
	}  


</script>