<div class="row-fluid">
  	<div class="panel panel-default">
	    <div class="panel-heading">
	      <%= t('report.health_center_disease_trend')%>      
	    </div>
	    <div class="panel-body">
	    	<div class="row-fluid">
			<div class="span4"> 
			
				<%= form_tag reports_create_hc_chart_path, :method => :get do %>
                    <div class="text-error"></div>

                    <br>
					<label>&nbsp;</label>
					<%= select_tag(:place_id,  options_from_collection_for_select(@hcs,"id","name", @place_id)) %>
					<br>

					<label><%= t('from')%><span class="text-error">*</span></label>
					<div class="input-append">
					  <input class="span7" id="start_date" type="text" name="start_date" value="<%= @start_date %>">
					  <button class="btn" type="button" id="btn_start_date"><i class="icon-calendar"></i></button>
					</div>
                    <p id="start_date_error_msg" class="text-error"></p>
					
					<label><%= t('to')%><span class="text-error">*</span></label>
					<div class="input-append">
					  <input class="span7" id="end_date" type="text" name="end_date" value="<%= @end_date %>">
					  <button class="btn" type="button" id="btn_end_date"><i class="icon-calendar"></i></button>
					</div>
                    <p id="end_date_error_msg" class="text-error"></p>		
                    
					<div class="span7 offset4">
					   <input type="button" value="<%= t('action.submit')%>" name="submit" class="btn btn-primary" id="btn_create_line_chart">
					</div>
				<% end -%>
			</div>
			<div class="span8">					
				<div id="hc_chart" style="width:100%; height:100%"></div>				
			</div>
			</div>
		</div>
	</div>
</div>










<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});

	$(document).ready(function(){
		
		hc_chart_request();	

		$("#start_date").datepicker({
			format:'yyyy-mm-dd'
		});	
		
		$("#end_date").datepicker({format:'yyyy-mm-dd'});	
		// $("#end_date").datepicker();	

		$("#btn_start_date").on("click", function(){
			$("#start_date").datepicker('show');

		});

		$("#btn_end_date").on("click", function(){
			$("#end_date").datepicker('show');
		});

		$("#btn_create_line_chart").on("click", function(){			
			hc_chart_request();
		});
	});

	


	function hc_chart_request(){
		place_id = $("#place_id").val();
		start_date = $("#start_date").val();
		end_date = $("#end_date").val();

        if(start_date == ''){
            $("#start_date_error_msg").html(t("required_field"));
            if(end_date == ''){
                $("#end_date_error_msg").html(t("required_field"));
            }       
            return  ;
        }

        if(end_date == ''){
            $("#end_date_error_msg").html(t("required_field"));
            return;
        }
        
        $("#start_date_error_msg").empty();
        $("#end_date_error_msg").empty();

		$.ajax('/reports/create_hc_chart', {
			type: 'GET',
			data: { place_id: place_id, start_date: start_date, end_date: end_date },
			success: function(response) { 
                // console.log(response);
                if(response == null)
                    $('p.text-error').text(t("incorrect_date_range"));
                else{       
                    $('p.text-error').text("");
                    drawChart(response);
                }
			},
			error: function(error) { 
		    }
		});	
	}
  
  function drawChart(response) {    
  	// console.log(response);
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');

    arr_col = [] ;
    index = 0;
    b = true;
    $.each(response, function(key,value) {
    	for(var i in arr_col){
    		// console.log(col);
    		if(value['disease'] == arr_col[i]){
    			b = false;
    			break;
    		}else{        			
    			b = true;
    		}
    	}

    	if(b == true){
    		
    		arr_col[index] = value['disease'];
    		data.addColumn('number', value['disease']);
    		index++;
    	}    	
    });

    tmp = [];
    arr_row = [[]];
    j = 0;
    index = 1;
    flag = false;
    current_row = 0;
    if (arr_col.length > 0){
    	$.each(response, function(key,value) {
    		d = new Date(value['created_at']);

    		for(row=0; row< arr_row.length; row++){
    			if(d.toString('d-MMM') == arr_row[row][0]){
    				// console.log(d.toString('d-MMM')+" "+arr_row[row][0]);
    				flag = true;
    				current_row = row ;

    				break;
    			}else{
    				flag = false;
    			}
    		}


    		if(flag == false){ //not exist yet
    			
    			tmp[0] = d.toString('d-MMM');
    		    for(i=0; i<data.getNumberOfColumns(); i++){
    		    	if(value['disease'] ==  data.getColumnLabel(i)){
    		    		tmp[i] = parseInt(value['quantity']);
    		    	}else{
    		    		if(i > 0)
    		    		tmp[i] = 0;
    		    	}
    		    }

    		    arr_row[j] = tmp;
    		    j ++;
    		    tmp = [];

    		}else{
    			
    			for(a=0; a<data.getNumberOfColumns(); a++){
    				if(value['disease'] ==  data.getColumnLabel(a)){
    					arr_row[current_row][a] = parseInt(value['quantity']);
    					break;
    				}
    			}
    		}
    	});

        data.addRows(arr_row);

        // var ticks = d3.time.months(new Date(2014, 1, 1), new Date(2015, 1, 1),3);
        var options = {'title':'Health Center Disease Trend',
                        'legend': {position: 'bottom', textStyle: {fontSize: 12}},
                       'height':400,
                       valueLabelsInterval: 30,
                   		vAxis: {
        				    gridlines: {
        				        color: 'black'						        
        					    },
                            // valueLabelsInterval: 30
        				}
		};

        options.chartArea = {width: "80%"};
        var chart = new google.visualization.LineChart(document.getElementById('hc_chart'));


        chart.draw(data, options);
        // console.log("chart");
    }else
        $('#hc_chart').html("<p class='text-info text-center'>No Data</p>");   
}

    </script>
