<% content_for :table do %>
<% render 'view' %>
<% end %>
<% results = { html: content_for(:table), data:@data_source, places:@places_name, time_range:@time_range} %>
<%= raw ActiveSupport::JSON.encode(results) %>