<div class="row-fluid">
  <% if current_user %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('report.health_center_disease_trend')%>      
      </div>
      <div class="panel-body">
        <div class="row-fluid">
          <div id="report_table">
           <%= render 'view' %>   
          </div>
        </div>
        <div class="row-fluid">
          <div id="png" class="span2 pull-right">
            <a href="#" download="chart" class="btn btn-info" id="link_download_chart"><%= t('report.export_as_image')%></a>
          </div> 
        </div>
        <div class="row-fluid">
          <div id="chart_div" class="span9"></div>           
        </div>
      </div>
    </div>
  <% else %>
    <%= render :file => "sessions/new" %>
  <% end %>
</div>

 <script type="text/javascript">
      
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      window.dataSource = <%= raw ActiveSupport::JSON.encode(@data_source)%>
      window.places_name = <%= raw ActiveSupport::JSON.encode(@places_name)%>
      window.time_range =  <%= raw ActiveSupport::JSON.encode(@time_range)%>

      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diseases');
        data.addColumn('number', 'Quantity');
        data.addRows(dataSource);
        data.sort([{column: 1,desc:true}]);
        // Set chart options
        tmp = "";
        $.each(places_name, function(index,value){
          
          if (index == places_name.length-1){
            tmp = tmp +" and "+ value;
          }else
            tmp = tmp +", "+ value ;
          // tmp = tmp + value +"\n";
          
        });
        var options = {'title':'Health Center Disease Trend \n\n'+ time_range+'\n\n\n',pieSliceText:'value',
                       'width':800,
                       'height':400,
                        'titleTextStyle':{ color: 'blue',  fontSize: 14,  bold: true,  italic: false }
                      };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));        
        chart.draw(data, options);
        if(data.getNumberOfRows()  > 0){
          $('#png').show();
          $('#link_download_chart').attr('href', chart.getImageURI());
          
        }else{
          $('#chart_div').empty();
          $('#png').hide();
        }
      }



</script>