<div class="row-fluid">

<% if current_user %>
<!-- <div id="loader">Loading</div> -->
  <div id="report_table">
   <%= render 'view' %>
   
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Health Center Disease Trend</div>
    <div class="panel-body">
      <div id="chart_div"></div> 
    </div>
  </div>
<% else %>
  <%= render :file => "sessions/new" %>
<% end %>
</div>

 <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      window.dataSource = <%= raw ActiveSupport::JSON.encode(@data_source)%>
      
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Diseases');
        data.addColumn('number', 'Quantity');
        data.addRows(dataSource);
        data.sort([{column: 1,desc:true}]);
        // Set chart options
        var options = {'title':'',
                       'width':500,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        // alert('asdfasdfasdf');
      }
</script>












