<ul id="phd_list">
  <% @places.each do |phd| %>
    <li class="phd_list" id="<%= phd.id %>"> 

      <a class="list1" href="#" data-id="<%= phd.id %>" data-name="<%= phd.name %>">
        <span class="icon-chevron-right"></span>
        <%#= phd.id %><%= phd.name %>
      </a>      
      
      <ul>
        <% phd.children.each do |od| %>
          <li class="od_list" id="<%= od.id %>">

            <a  class="list2" href="#" data-id="<%= od.id %>" data-name="<%= od.name %>">
              <span class="icon-chevron-right"></span>
              <%#= od.id %>
              <%= od.name %>
            </a>
            <ul>
              <% od.children.each do |hc| %>
              <li id="<%= hc.id %>">

                <a href="#"  class="list3" data-id="<%= hc.id %>" data-name="<%= hc.name %>">
                  <span class="icon-minus"></span>
                   <%#= hc.id %><%= hc.name %>
                </a>
                <ul></ul>
              </li>
              <% end -%>
            </ul>

          </li>
        <% end -%>
      </ul>
      
    </li>
  <% end %>
</ul>

<script>
  $(document).ready(function(){ 
    
    $(function () {
      $('#phd_list').metisMenu();
    });

    $('ul').removeClass('collapse in');
    $("ul#phd_list ul").addClass('collapse');
    $("#<%= @current_place_id%>").parents('ul').addClass('collapse in');
    $("#<%= @current_place_id%>").parents('li').addClass('active');

  });
</script>