<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('menu.health_structure')%>   
  </div>
  <div class="panel-body">
    <div class="row-fluid">

      	<!-- Top Menu -->
        <div class="row-fluid">
          <div class="span6 text-left" >
            <input type="text" class="form-control" id="txt_search" placeholder="<%= t('action.search')%>" >
          </div>
        </div>
        <!--  -->

    <!-- Add Place Form -->
      <div id="add_place_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_place_modal_label" aria-hidden="true">
        <form accept-charset="UTF-8" id="new_place" class="form-horizontal" method="get">
          <!-- action="/places" class="form-horizontal" id="new_place" method="post" -->
            
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                <h4><%= t('action.add') %><span id="add_place_modal_label"></span></h4>
            </div>

            <div class="modal-body">
              <div class="control-group">
                  <div class="text-error" id="messge_error_place" ></div><br>
                  <label><%= t('place.name')%></label>
                  <div class="controls">
                    <input type="text" id="place_name" name="place[name]"><span class="text-error">*</span>
                    
                    
                    <!-- <input type="hidden" id="txt_type" name="place[type]"  /> 
                  <input type="hidden" id="txt_parent_id" name="place[parent_id]"  /> -->
                  </div>
              </div>    

              <div class="control-group" id="div_parent_place">
                <label>Parent place</label>
                <div class="controls" >
                  <%#= select_place nil, "place[type]", "parent_id" %>
                  <select id="parent_id" name="place[type]"></select>
                  <span class="text-error">*</span>
                  <input type="hidden" name="txt_type" id="txt_type"> 
                </div>
              </div>

              

<!--               <div class="control-group">
                <label>Type</label>
                <div class="controls">
                  <%#= select_tag "place[type]", options_for_select([ "Phd", "Od", "Hc" ]) %><span class="text-error">*</span>
                </div>
              </div> -->


            </div>

            <div class="control-group modal-footer">
              <div class="controls">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('action.close')%></button>
                <button class="btn btn-primary" id="btn_submit_place"><%= t('action.create')%></button>
                  <!-- <input class="btn btn-primary" name="commit" type="submit" value="Create" /> -->
                  <!-- <input class="btn btn-primary" id="btn_place_submit" name="submit" type="submit" value="Create" /> -->
              </div>
            </div>

         
        </form>
      </div>
    <!--  -->

    <!-- Edit Place Form -->
      <div id="update_place_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="update_place_modal_label" aria-hidden="true">
        <form accept-charset="UTF-8" id="update_place" class="form-horizontal" method="get">
          <!-- action="/places" class="form-horizontal" id="new_place" method="post" -->
            
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                <h4><%= t('action.edit') %><span id="update_place_modal_label"></span></h4>
            </div>
            <div class="modal-body">
              <div class="control-group">
                  <div class="text-error" id="messge_error_place_update" ></div><br>
                  <label><%= t('place.name')%></label>
                  <div class="controls">
                    <input type="text" id="place_name_update" name="place_name" placeholder="Name"><span class="text-error">*</span>
                  </div>
                 
              </div>
              <div class="control-group" id="sel_parent_id">
                <label>Parent place</label>
                <div class="controls">
                  <select name="place_parent_id" id="place_parent_id"></select><span class="text-error">*</span>
                </div>
              </div>
            </div>         
            <div class="control-group modal-footer">
              <div class="controls">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('action.close')%></button>
                <button class="btn btn-primary" id="btn_update_place"><%= t('action.update')%></button>
                  <!-- <input class="btn btn-primary" name="commit" type="submit" value="Create" /> -->
                  <!-- <input class="btn btn-primary" id="btn_place_submit" name="submit" type="submit" value="Create" /> -->
              </div>
            </div>

         
        </form>
      </div>
    <!--  -->

    
        <div class="row-fluid">
          <div class="span7" id="place_tree">
            <!-- Place Tree -->
            <!-- <div > -->
              <%= render 'list' %>
            <!-- </div> -->
            <!--  -->
          </div>

          <!-- Detail Place -->
          <div class="span5 detail_place">      
            <div id="place_header">
                <span id="place_name" class="text-info lead"></span>
                 &nbsp;&nbsp;
                <button class='btn btn-small' id="btn_edit_place" title="<%= t('action.edit')%>"><i class="icon icon-pencil"></i></button>
                <button class='btn btn-small' id="btn_delete_place" title="<%= t('action.delete')%>"><i class="icon icon-remove icon-white"></i></button>
                
            </div>
            <div class="contact" id="contact">
            
              <ul id="contact_list"></ul>
              &nbsp;&nbsp;<a href="#add_phone_modal" id="btn_add_phone" role="button" class="btn" data-toggle="modal"><img src="/assets/new_phone.png"> <%= t('action.add_phone_number')%></a>
            </div>
          </div>
          <!--  -->
        </div>


    <!-- Add Phone Form -->

      <div id="add_phone_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_phone_modal_label" aria-hidden="true">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
          <h4 id="add_phone_modal_label"><%= t('action.add_new_phone_number')%></h4>
        </div>


        <form id="add_phone_form" action="/places" method="post" class="form-horizontal">
          <div class="control-group modal-body" >
                <div class="text-error" id="messge_error_telephone_number" >
                  <ul></ul>
                </div><br>
                <label><%= t('user.phone')%></label>
                <div class="controls">
                  <input type="text" id="telephone_number" name="contact[telephone_number]">
                </div>        
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('action.close')%></button>

            <input id="btn_submit_phone" class="btn btn-primary" name="Submit" type="button" value="<%= t('action.create')%>" />
          </div>
        </form>

      </div>
    <!--  -->

    <!-- Confirm Delete -->
    <div id="confirm_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%= t('message.confirmation')%></h4>
                </div>
                <div class="modal-body">
                  <p><%= t('message.delete')%></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_confirm_no"><%= t('action.cancel')%></button>
                    <button type="button" class="btn btn-primary" id="btn_confirm_yes"><%= t('action.ok')%></button>
                </div>
            </div>
        </div>
    </div>
          <div class="span6 btn_add_place" >
            <a href="#add_place_modal" id="btn_add_phd" role="button" class="btn" data-toggle="modal"><%= t('action.add_phd')%></a>
            <a href="#add_place_modal" id="btn_add_od" role="button" class="btn" data-toggle="modal"><%= t('action.add_od')%></a>
            <a href="#add_place_modal" id="btn_add_hc" role="button" class="btn" data-toggle="modal"><%= t('action.add_hc')%></a>        
          </div>
    </div>
  </div>
</div>


<input type="hidden" value="<%= current_user.place.type if !current_user.place.nil? %>" name="current_user_place_type" id="current_user_place_type">
<input type="hidden" value="<%= current_user.place_id if !current_user.place.nil? %>" name="current_user_place_id" id="current_user_place_id">