<!DOCTYPE html>
<html lang="kh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zero Reporting" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      window.userLanguage = "<%= user_language %>"
    </script>

  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if !current_user.nil? %>
          <span class="brand"><%= link_to 'Zero Reporting', reports_url %></span>
          <%# if !current_user.nil? %>
            <div class="container-fluid nav-collapse pull-right">
              <ul class="nav" >
                <li><%= link_to t('menu.report'), reports_url %></li>
                <li><%= link_to t('menu.health_structure'), places_path %></li>
                <li><%= link_to t('menu.user'), users_url %></li>

                <li class="dropdown">                    
                      <!-- <li><%#= link_to "Log in", login_path %></li> -->                 
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= t('menu.language') %>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" id="lan_link">
                          <li><%= link_to 'English', url_for(:only_path => false, :locale => 'en') %></li>
                          <li><%= link_to 'ខ្មែរ', url_for(:only_path => false, :locale => 'kh') %></li>
                      </ul>                    
                </li>

                <li class="dropdown">                          
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= current_user.name %>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><%= link_to t('menu.view_profile'), user_view_path(current_user.id) %></li>
                          <li><%= link_to t('menu.change_password'), reset_password_users_path %></li>
                          <li><%= link_to t('menu.log_out'), logout_path %></li>                      
                      </ul>                    
                </li>
                 
              </ul>
            </div> <!--/.nav-collapse -->
          <% else %>
          <span class="brand">Zero Reporting</span>
          <% end -%>

        </div>
      </div>
    </div>

<!--     <div class="container-fluid" > -->
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
          <%#= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="span1">
        </div>
      </div><!--/row-->

<!--       <footer>
        <p>&copy; Company 2014</p>
      </footer> -->

   <!--  </div> --> <!-- /container -->
  </body>
</html>

